@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --sombra: .5rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "Roboto", sans-serif;


}
body > *:nth-child(2n+1) {
    background-color: black;
    color: white; /* Asegúrate de que el texto sea legible en el fondo negro */
}
body > *:nth-child(2n) {
    background-color: white;
    color: black; /* Asegúrate de que el texto sea legible en el fondo negro */
}


header{
    display: flex;
    align-items: center;
    padding: .5rem;
}
header h1{
    display: inline-block;
}
header table{
    margin-left: auto;
}
#languages{
    border: 1px solid white;
    border-spacing: 0;
}
#languages td{
    height: 3rem;
    width: 3rem;
    text-align: center;
    cursor: pointer;
}
.technologies{
    display: block;
    height: 2rem;
}
.technologies img{
    height: 100%;
    background-color: white;
    padding: .1rem;
}
.marked{
    background-color: black;
    color: white;
}
.unmarked{
    background-color: white;
    color: black;
}

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
#projects>h2{
    padding: 1rem;
}
#projects article{
    background-color: black;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    width: 80%;
}

#projects article>*{
    display: block;
}

.boton{
    background-color: white;
    padding: .75rem;
    width: 15%;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    box-shadow: var(--sombra) var(--sombra) grey;
    position: relative;
}
.boton:active{
    top: var(--sombra);
    left: var(--sombra);
    box-shadow: 0 0 gray;
}

.technologies h4{
    color: black;
}